[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "async"]
	path = async
	url = https://github.com/crowding/async
	shallow = true
	registered = true
[submodule "iterors"]
	path = iterors
	url = https://github.com/crowding/iterors
	shallow = true
	registered = true
[submodule "memo"]
	path = memo
	url = https://github.com/crowding/memo
	shallow = true
	registered = true
[submodule "nseval"]
	path = nseval
	url = https://github.com/crowding/nseval
	shallow = true
	registered = true
